<div class="container text-center">
<h1>About Page</h1>
<p>We are DevMatch, focusing on exclusive community, 
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laboriosam enim itaque pariatur, sunt dolorum ab autem nesciunt nobis deleniti, delectus ex eum soluta quo sapiente non ea incidunt tempora.</p>
</div>